<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/cadastro-usuario">Cadastro</a>
      </li>
    </ul>
  </div>

  <div class="container" >
    <form #cadastroForm="ngForm"  (ngSubmit)="cadastro()">
      <div class="form-group">
        <label for="Name">Nome</label>
        <input type="text" class="form-control" name="Name" id="Name" [(ngModel)]="formData.name" required>
      </div>
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" name="email" id="email" [(ngModel)]="formData.email" required
        #email="ngModel"
        pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
        >
        <div *ngIf="email.invalid && (cadastroForm.submitted || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required"> Entre com um email valido!</div>
          <div *ngIf="email.errors.pattern"> 
            erro no email. </div>
        </div>
      </div>
      <div class="form-group"> 
        <label for="Password">Senha</label>
        <input type="password" class="form-control" name="Password"  id="Password" [(ngModel)]="formData.password" autocomplete="on" required
        #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
        >
        <div *ngIf="password.invalid && (cadastroForm.submitted || password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required"> A senha é obrigatória </div>
          <div *ngIf="password.errors.pattern"> 
            Deve conter pelo menos um número e uma letra maiúscula e minúscula e pelo menos 8 ou mais caracteres. </div>
        </div>
  
      </div>
      <div class="form-group"> 
        <label for="Cpassword">Confirmar Senha</label>
        <input type="password" class="form-control" name="Cpassword"  id="Cpassword" [(ngModel)]="formData.cpassword" autocomplete="on" required
        required #Cpassword="ngModel" pattern="{{ password.value }}"
        >
        <div *ngIf=" Cpassword.invalid && (cadastroForm.submitted || Cpassword.touched)" class="alert alert-danger">
          <div *ngIf="Cpassword.errors.required"> 
            Confirmar a senha é necessária. </div>
          <div *ngIf="Cpassword.errors.pattern"> 
            Senha e Confirmar senha não corresponde.</div>
        </div>
      </div>
      <div class="form-group"> 
        <label for="Telefone">Telefone</label>
        <input type="text" class="form-control" name="Telefone"  id="Telefone" [(ngModel)]="formData.telephone" required>
      </div>
      <div class="form-group"> 
        <label for="Cpf">CPF</label>
        <input type="text" class="form-control" name="Cpf"  id="Cpf" [(ngModel)]="formData.cpf" required>
      </div>
      <button [disabled]="!cadastroForm.form.valid"  type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
    <div *ngIf="errors.error" class="alert alert-danger">
        {{errors.error}}
    </div>
  </div>

<div>
