<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="/home">Dados Cadastrais</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gerenciar Lojas</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/home">Listar lojas</a>
      <a class="dropdown-item" href="/home">Cadastrar lojas</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/home">Sair</a>
  </li>
</ul> 